name: Deploy Hosting on merge
on:
  push:
    branches:
      - main
jobs:
  build:
    name: build_and_deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v2

      - name: Install dependencies
        run: yarn install

      - name: Build and export
        run: yarn next build && yarn next export
        env:
          NOTION_PAGE_ID: ${{ secrets.NOTION_PAGE_ID }}
